<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Ej02Parametros</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SVLogin</display-name>
		<servlet-name>SVLogin</servlet-name>
		<servlet-class>servlet.SVLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SVLogin</servlet-name>
		<url-pattern>/SVLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SVPeliculas</display-name>
		<servlet-name>SVPeliculas</servlet-name>
		<servlet-class>servlet.SVPeliculas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SVPeliculas</servlet-name>
		<url-pattern>/SVPeliculas</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SVActores</display-name>
		<servlet-name>SVActores</servlet-name>
		<servlet-class>servlet.SVActores</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SVActores</servlet-name>
		<url-pattern>/SVActores</url-pattern>
	</servlet-mapping>
</web-app>