@CHARSET "ISO-8859-1";

body {
	font-family: arial;
}

table,.botonera {
	width: 95%;
	border: 1px;
	border-style: solid;
	border-color: black;
}

table {
	margin-bottom: 10px;
}

th {
	color: white;
	background: orange;
}

h2 {
	color: blue;
}

.botonera {
	text-align: center;
}

/* COMENTARIO */
.contenedor {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.cabecera {
	width: 100%;
	height: 50px;
	background-color: lightBlue;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: blue;
}

.menu {
	width: 18%;
	height: 430px;
	background-color: lightGreen;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

.principal {
	width: 79%;
}

.pie {
	width: 100%;
	height: 25px;
	background-color: lightBlue;
	border-top: 2px;
	border-top-style: solid;
	border-color: blue;
	text-align: center;
}